.container {
    align-items: center;
    margin: 40px 80px;
    padding: 5px;
    border: 1px solid whitesmoke;
    background-color: aliceblue;
}

.outline {
    margin: 40px 50px;
    padding: 5px;
    border: 20px solid rgb(226, 219, 222);
    background-color: rgb(102, 119, 138);
}

body {
    background-color: rgb(135, 161, 188);
}


.center-align {
    text-align: center;
}

.color-text {
    color: rgb(135, 161, 188);
}

.medium-text {
    font-size: 17px;
}

table,
th,
td {
    font-size: medium;
    border: 2px dotted rgb(135, 161, 188);
    border-collapse: collapse;
    align-items: center;
    margin: 40px 80px;
    padding: 10px;
    background-color: rgb(226, 219, 222);
}

.Moon {
    font-family: moonblossom, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Fair {
    font-family: fairplex-narrow, serif;
    font-weight: 400;
    font-style: normal;
}

.Rythem {
    font-family: rhythm-one, sans-serif;
    font-weight: 400;
    font-style: normal;
}